body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(240, 240, 240);
}

header {
    padding: 3vh;
    background: rgb(218, 218, 218);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Page Layout */

.scrollable {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding-top: 5vh;
}

/* Scrollable content and Recs Panel Layout */
.full_layout {
    display: flex;
    align-items: start;
    gap: 10px;
    margin-left: calc(50vw - 500px);
}

/*
 Navigation Bar
.nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    width: 100vw;
}

.nav h1 {
    margin-left: 20px;
}

.nav > .user {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    margin-right: 20px;
}

.user > .myself {
    width: 165px;
    text-align: right;
    font-size: medium;
}
*/

/* Recommendation panel */
.recs {
    padding-top: 40px; 
    width: 400px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: calc(50% + 120px);
}

.recs > p {
    width: 380px;
}

.me {
    display: flex;
    align-items: center;
    height: 100px;
    gap: 10px;
}

.me > img {
    height: 80%;
    border-radius: 50%;
    margin-left: 8px;
}

.person {
    display: flex;
    flex-direction: column;
    width: 55%;
    justify-content: center;
}

.person > p {
    color: rgb(80, 80, 80);
    font-size: 18px;
}

.others {
    display: flex;
    flex-direction: column;
}

.others > h3 {
    width: 90%;
    margin-left: 10px;
    color: rgb(80, 80, 80);
    font-size: large;
}

.one_rec {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    height: 70px;
    width: 100%;
}

/*.one_rec > button {
    color: rgb(7, 71, 120);
    border: none;
    font-size: medium;
    background-color: rgb(240, 240, 240);
}*/

.one_rec > img {
    height: 70%;
    border-radius: 50%;
}

/* Stories panel */
.stories {
    display: flex;
    align-items: center;
    height: 120px;
    width: 600px;
    background-color: white;
    gap: 10px;
    padding-left: 10px;
    overflow-x: scroll;
}

.stories > .user_story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 72px;
}

.user_story img {
    border: solid 3px rgb(219, 219, 219);
    height: 65px;
    border-radius: 50%;
}

.user_story > section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 20px;
}

.user_story button {
    border: none;
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}


/* News Feed */
.card {
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.post_heading {
    border: solid 1px rgb(219, 219, 219);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 60px;
}

.card_top > img {
    width: 100%;
}

.post_icons {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

button {
    background-color: white;
    border: none;
    cursor: pointer;
}


.post_icons > section {
    display: flex;
    align-items: center;
}

.post_text {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}

.comment {
    padding-top: 5px;
    padding-bottom: 5px;
}

.comment > button {
    color: rgb(7, 71, 120);
    border: none;
    font-size: medium;
    background-color: white;
    cursor: pointer;
}

.post_text a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.card_top {
    border: solid 1px rgb(219, 219, 219); 
}

.view.all.comments:hover {
    color:rgb(80, 80, 80);
}

.interaction {
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px rgb(219, 219, 219); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.interaction > button {
    color: rgb(7, 71, 120);
    border: none;
    font-size: medium;
    background-color: white;
    cursor: pointer;
}

.fas.fa-heart.fa-2x {
    color: rgb(175, 21, 21);
}

.like.post:hover, .share.post:hover, .bookmark.post:hover, .more.post.options:hover {
    color:rgb(80, 80, 80)
}

input {
    border: none;
    width: 85%;
}

::placeholder{
    font-size: 18px;
    vertical-align: bottom;
}

.follow {
    background-color: rgba(52,147,230,255);
    color: white;
    border: none;
    font-size: medium;
    text-align: center;
    width: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.unfollow {
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: medium;
    text-align: center;
    width: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.modal-bg {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(50, 50, 50, 0.8);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close.post {
    position: fixed;
    right: 20px;
    top: 20px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.modal {
    background-color: white;
    width: 80vw;
    height: 80vh;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.modal > img {
    object-fit: cover;
    height: 100%;
    width: 67%;
    position: sticky;
}

.fas.fa-xmark.fa-2x {
    color: white;
}

.detailed.post.text {
    /* border: 1px solid red; */
    width: 33%;
    overflow-y: scroll;
}

.post.creator {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: sticky;
    background-color: white;
    left: 0px;
    top: 0px;
    width: 100%;
}

.post.creator > img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.scrollable.text {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-top: 0px;
}

.post.comment {
    /* border: solid 1px gray; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.post.comment > img {
    width: 10%;
    height:10%;
    border-radius: 50%;
}

.post.comment > button {
    color: black;
    cursor: pointer;
}

.comment.text {
    width: 70%;
}

.comment.text > a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.comment.text > p {
    text-transform: uppercase;
    color: rgb(80, 80, 80);
}


/* Tablet Media Query */
@media only screen and (max-width: 1100px) {
    .recs {
        display: none;
    }
    .full_layout {
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
}

/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {
    .recs {
        display: none;
    }
    .stories {
        width: 98vw;
    }
    .scrollable {
        justify-content: center;
    }
    .card {
        width: 98vw;
    }
    body {
        display: flex;
        justify-content: center;
    }
    ul:first-child {
        display: none;
    }
}