body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(240, 240, 240);
}

header {
    padding: 3vh;
    background: rgb(218, 218, 218);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Page Layout */

.scrollable {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 90px;
}

.full_layout {
    display: flex;
    align-items: start;
    gap: 10px;
    margin-left: calc(50vw - 500px);
}


/* Navigation Bar */
.nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    width: 100vw;
}

.nav h2 {
    margin-left: 20px;
}

.nav > .user {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    margin-right: 20px;
}

.user > .myself {
    width: 165px;
    text-align: right;
    font-size: medium;
}


/* Recommendation panel */
.recs {
    padding-top: 90px;
    width: 400px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: calc(50% + 120px);
}

.recs > p {
    width: 380px;
}

.me {
    display: flex;
    align-items: center;
    height: 100px;
    gap: 10px;
}

.me > img {
    height: 80%;
    border-radius: 50%;
    margin-left: 8px;
}

.person {
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: center;
}

.person > p {
    color: rgb(80, 80, 80);
    font-size: 18px;
}

.others {
    display: flex;
    flex-direction: column;
}

.others > h3 {
    width: 90%;
    margin-left: 10px;
    color: rgb(80, 80, 80);
}

.one_rec {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    height: 70px;
    width: 100%;
}

.one_rec > button {
    color: rgb(7, 71, 120);
    border: none;
    font-size: medium;
    background-color: rgb(240, 240, 240);
}

.one_rec > img {
    height: 70%;
    border-radius: 50%;
}


/* Stories panel */
.stories {
    display: flex;
    align-items: center;
    height: 120px;
    width: 600px;
    background-color: white;
    gap: 10px;
    padding-left: 10px;
}

.stories > .user_story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 72px;
}

.user_story img {
    border: solid 3px rgb(219, 219, 219);
    height: 65px;
    border-radius: 50%;
}

.user_story > section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 20px;
}

.user_story button {
    border: none;
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* News Feed */
.card {
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
}


.post_heading {
    border: solid 1px rgb(219, 219, 219);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 60px;
}

.card_top > img {
    width: 100%;
}

.post_icons {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

button {
    background-color: white;
    border: none;
}

.post_icons > section {
    display: flex;
    align-items: center;
}

.post_text {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}

.comment {
    padding-top: 5px;
    padding-bottom: 5px;
}

.comment > button {
    color: rgb(7, 71, 120);
    border: none;
    font-size: medium;
    background-color: white;
}

.post_text a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.card_top {
    border: solid 1px rgb(219, 219, 219); 
}

.interaction {
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px rgb(219, 219, 219); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.interaction > button {
    color: rgb(7, 71, 120);
    border: none;
    font-size: medium;
    background-color: white;
}


input {
    border: none;
    width: 85%;
}

::placeholder{
    font-size: 18px;
    vertical-align: bottom;
}





/* Tablet Media Query */
@media only screen and (max-width: 1100px) {
    .recs {
        display: none;
    }
    .full_layout {
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
}

/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {
    .recs {
        display:none;
    }
    .stories {
        width: 98vw;
    }
    .card {
        width: 98vw;
    }
    body {
        display: flex;
        justify-content: center;
    }
}